.footer {
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  display: flex;
  align-items: center;
  background-color: #0E3749;
  justify-content: space-between;
}
.footer-icon {
  fill: white;
  cursor: pointer;
}

.foot-text {
  color: white;
  font-family: Poppins;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400px;
  margin: 10px;
}

.footer-icon {
  height: 26px;
  width: 30px;
  margin: 10px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

.footer-center {
  text-align: center;
}

.footer-left {
  text-align: center;
}

.footer-left a {
  text-decoration: none;
  color: white;
}

@media (orientation: portrait) {
  .footer {
    display: none;
  }
}
